<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/main.css" />
    <title>Vue me</title>
  </head>
  <body>
    <div id="app">
      <transition-group name="dude" tag="ul">
        <li class="dude" v-for="(dude, index) in characters" :key="index">
          <a class="ctrl" @click.prevent="remove(dude)">x</a>

          <article :class="{ faded: dude.cool < 10, gold: dude.cool > 50 }">
            {{ dude.who }}
            <span>{{ dude.wat }}</span>
          </article>

          <input class="ctrl" type="number" v-model.number="dude.cool" />
        </li>
      </transition-group>

      <form class="add-new" @keydown.enter="add">
        <input type="text" v-model="newWho" ref="new" autofocus />
        <input type="text" v-model="newWat" />
      </form>

      <p class="preview">
        {{ newWho }} <br />
        <small>{{ newWat }}</small>
      </p>
    </div>

    <script>
      const app = new Vue({
        el: "#app",
        data: {
          newWho: "",
          newWat: "",
          characters: [],
        },
        methods: {
          add() {
            if (!this.newWho || !this.newWat) return;

            this.characters.push({
              who: this.newWho,
              wat: this.newWat,
              cool: 15,
            });

            this.newWho = "";
            this.newWat = "";

            this.$refs.new.focus();
          },
          remove(dude) {
            this.characters = this.characters.filter((item) => item !== dude);
          },
        },
        created() {
          fetch(
            "https://gist.githubusercontent.com/yablko/035b44dd8d63d586e6763872beb3547e/raw/0f3d18326492a6670bc259a78a98e4c702059d81/dudes.json"
          )
            .then((res) => res.json())
            .then((json) => (this.characters = json));
        },
      });
    </script>
  </body>
</html>
